<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buttons</title>
  <link rel="stylesheet" href="styles/buttons.css">
</head>
<body>

  <button class="subscribe" >SUBSCRIBE</button>
  <button class="join" >JOIN</button>
  <button class="tweet">Tweet</button>
  <button class="Request">Request now</button>
  <button class="Amazon">Add to cart</button>
  <button class="github">Sign Up</button>  
  <button class="bootstrap">Get Started</button>
  <button class="download">Download</button>
  <button class="linkedln">Apply on company website</button>
  <button class="save">Save</button>
  <button class="stretch">Stretch</button>
</body>
</html>